@model MojeDemotywatory.Models.Demotywatory

@{
    ViewBag.Title = "Index";
}




@foreach (var d in @Model.ListaDemotow)
   {
       <a href="@d.AdresUrl" > 
           <img src="@d.ObrazekUrl"/>
           </a>
    <br />
   }
 