

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    var page = 3;
    function loadProducts() {
        if (page > -1) {
         
            page++;
            $('div#loading').html('<p><img src="/Content/img/loading.gif"></p>');
            $.get("/Demotivator/GetNextPage?pageNumber=" + page,
                function (data) {
                    if (data != '') {
                        $("#productList").append(data);
                        $("#productList").append('<button type="button" class="btn btn-warning shwoMore">Pokaż więcej</button>');
                        $('.shwoMore').on('click', function () {
                            loadProducts();
                        });
                    } else {
                        page = -1;
                    }

                   
                    $('div#loading').empty();
                })}};
    var dcList = true;

    $(document)
        .ready(function () {

            $('.shwoMore').on('click', function () {
                loadProducts();
            });

            $(".nav .nav-link").on("click", function () {
                $(".nav").find(".active").removeClass("active");
                $(this).addClass("active");
            });

        });
</script>


<div class="row">
    <div class="col-12">
        <div id="productList" class="demotivator-center">
            @Html.Partial("_Page");

            <button type="button" class="btn btn-warning shwoMore">Pokaż więcej</button>


        </div>

        <div id="loading" class="demotivator-center"></div>
    </div>
</div>


