.tlo {
    background-color: black;
 }

.demotivator-center {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 90px;
}

.btn-fav {

}

.shwoMore {

}

@media screen and (max-width: 480px) {
    .demotivator-center {
        width: auto;
    }

    .btn-fav {
        font-size: 25px;
    }

    .shwoMore {
        font-size: 25px;
    }
    .nav-link {
        font-size: 25px;
    }
    .navbar-brand {
        font-size: 25px;
    }
}
