@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brak demotywatorów na stronie @Model</title>
</head>
<body>
    <hgroup>
        <h1>Brak demotywatorów na stronie @Model</h1>
        <h2>Nie ma już więcej stron z demotywatorami.</h2>
    </hgroup>
</body>
</html>